body{
    background-color: rgb(250, 133, 143);
    }

            
.genero ul{ display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0px;
}

.genero li { 
    padding: none;
    margin: 35px;
}

.genero a {
    color: rgb(90, 53, 57);
    font-family: 'Bebas Neue';
    font-size: 25px;
    text-decoration: none;
}
    
.genero img {
    
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    border-color: rgb(73, 52, 32);
    border: double;
}

@media screen {
    
}