
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 180px;
    padding: 4px;
}
.navbar{
    background-color: rgb(206, 110, 118);
    margin: 7px;
}
nav.navbar ul{  
    background-color: rgb(206, 110, 118);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

nav.navbar ul a{
    color: rgb(255, 235, 235);
    display: block;
    height: 8px;
    font-family: 'Urbanist', sans-serif;
    margin: 8px ;
    font-size: 18px;

}
.menu-mobile{
    color: rgb(63, 94, 95);   
}
.menu-mobile-close{
    color: rgb(63, 94, 95);
}

form{
    margin: 10px;
}
form label {
    color: rgb(73, 70, 70);
}
i {
    margin: 4px;


}

form button{
    border-radius: 5px;
    border-color: rgb(255, 238, 216);
    font-family: 'Cuprum', sans-serif;
    color: rgb(206, 110, 118);
    font-size: larger;
    background-color:  rgb(255, 233, 194);
    

}

@media(min-width:768px) {
    nav.navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    nav.navbar ul a {
        margin: 10px;
        display: flex;
        align-items: center;
        
    }
    form {
       display: flex;
       justify-content: flex-end;
       align-items: center;
    }
    i {
        margin: 10px;
    }
}
@media(min-width:1024px) {
    .headerContent {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(206, 110, 118) ;


    }
    nav.navbar ul {
        display: flex;
        flex-direction: row;
        
    }

}
